body {
  background-color: lightgray;
}

.title {
  color: white;
  text-align: center;
  font-size: 90px;
  font-weight: 650;
  background-color: rgb(80, 79, 79);
  padding: 20px;
}

.flex-contain {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  border: black solid 5px;
  flex-flow: row wrap;
  max-width: 1100px;
  min-height: 500px;
}

.flex-card {
  margin: 0px;
}
