body {
  background-color: lightgray;
}

.title {
  color: white;
  text-align: center;
  font-size: 90px;
  font-weight: 650;
  background-color: rgb(80, 79, 79);
  padding: 20px;
}

.col{
  max-width: 500px;
}

img{
  max-width: 100px;
  max-height: 100px;
}

.list-group-item{
  font-size: large;
  background-color: darkgray;
}

.card-title{
  font-size: x-large;
  background-color: darkgray;
  border-bottom: solid black 2px;
}

.row{
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card{
  background-color: darkgray;
}
